.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: white;
  border-bottom: 1px solid #8a8a8a;

  mat-icon {
    color: red;
  }

  a {
    color: black;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
  }
}
